.App {
  text-align: center;
  margin: 0,0,0,0;
  padding: 0,0,0,0;
}

.under-construction-img {
  height: 45vmin;
  pointer-events: none;
}

.discord-img {
  height: 10vmin;
}

.twitter-img {
  height: 10vmin;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.App-header {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App{
  background-color: #282c34;
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}